body{
  height: 50%;
 
}
body > section {

  margin: auto;
  text-align: center;
  margin-top: 100px;
  padding: 10px 50px;
  background-color: rgba(250, 233, 202, 0.58);
  width: 360px;
  padding-bottom: 100px;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px bisque;
}
body > section> h3{
  font-size: 6rem;
  margin-bottom: 20px;
}

body>section>button{
  font-size: 3rem;
 margin-right: 10px;
 background-color: lightgray;
 padding: 5px 15px;
 border-radius: 15px;
 box-shadow: 5px 5px 5px gray;

}